body {
  font-family: 'Roboto', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#91FF8E), to(#6CF6FF));
  background: linear-gradient(180deg, #91FF8E 0%, #6CF6FF 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #414141;
}

* {
  margin: 0;
  padding: 0;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 500px;
  background: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

section .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .form_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 90px;
  margin: 20px 0 15px;
  background-image: url("../img/img.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.04em;
}

section .form_input {
  margin-top: 25px;
  display: block;
  position: relative;
  width: 280px;
  height: 25px;
  border: none;
  font-size: 20px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #91FF8E 0%, #6CF6FF 100%);
  outline: none;
}

section .form_checkbox {
  margin-top: 20px;
  width: 280px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .form_checkbox_label {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

section .form .btn {
  position: relative;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, color-stop(17.19%, #91FF8E), to(#6CF6FF));
  background: linear-gradient(90deg, #91FF8E 17.19%, #6CF6FF 100%);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  letter-spacing: 0.05em;
  -webkit-transition: color .1s;
  transition: color .1s;
  -webkit-transition: width .1s;
  transition: width .1s;
}

section .form .btn:hover {
  width: 155px;
  -webkit-transition: color .1s;
  transition: color .1s;
}

section .form .incorrect {
  border-image-source: linear-gradient(90deg, #FF8E8E 0%, #FFF06C 100%);
}
/*# sourceMappingURL=style.css.map */