section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 500px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
        &_title {
            @include flex-box;

            width: 260px;
            height: 90px;
            margin: 20px 0 15px;

            background-image: url("../img/img.png");
            background-repeat: no-repeat;
            background-position: center;

            font-size: 30px;
            font-weight: 500;
            color: white;
            letter-spacing: 0.04em;
        }
        &_input {
            margin-top: 25px;
            display: block;
            position: relative;
            width: 280px;
            height: 25px;
            border: none;
            font-size: 20px;
            letter-spacing: 0.02em;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(90deg, #91FF8E 0%, #6CF6FF 100%);
            outline: none;
            
        }
        &_checkbox {
            margin-top: 20px;
            width: 280px;
            height: 20px;
            @include flex-box;
            input {
                opacity: 0;
            }
            &_label {
                margin-left: 10px;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
            }
            .checkbox {
                position: relative;
                width: 15px;
                height: 15px;
                border-radius: 2px;
                border: 1px solid rgb(97, 97, 97);
                
            
            }
            input:checked + .checkbox::before {
                    content: "";
                    background-image: url("../img/images.jpg");
                    background-position: center;
                    position: absolute;
                    top: 0;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
            }
        }
        .btn {
            position: relative;
            margin-top: 20px;
            width: 150px;
            height: 40px;
            background: linear-gradient(90deg, #91FF8E 17.19%, #6CF6FF 100%);
            border-radius: 5px;
            border: none;
            color: white;
            font-size: 20px;
            letter-spacing: 0.05em;
            transition: color .1s;
            transition: width .1s;
            &:hover {
                width: 155px;
                transition: color .1s;
            }
        }
        .incorrect {
            border-image-source: linear-gradient(90deg, #FF8E8E 0%, #FFF06C 100%);
        }

      
    }
}